
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - PreçoCerto</title>
    <link rel="stylesheet" href="assets/css/cadastro.css">
</head>

<body>

    <header>

        <div class="logo-header">
            <img src="assets/img/chapeu.png" alt="Logo">
            <div>
                <h2>Preço<span>Certo</span></h2>
                <p>PRECIFICAÇÃO AFETIVA</p>
            </div>
        </div>

        <a href="index.html" class="voltar">Voltar</a>
    </header>


    <main>

        <img src="assets/img/toca.png" alt="Toca" class="toca">
        <img src="assets/img/canto-flor.png" alt="Flores" class="canto-flor">

        <section>

            <img src="assets/img/chapeu.png" alt="Chapéu" class="logo-card">

            <h2>Preço<span>Certo</span></h2>
            <p class="slogan">PRECIFICAÇÃO AFETIVA</p>

            <h1>Crie sua conta</h1>
            <p class="subtitulo">Comece a organizar seus custos de forma simples</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
{% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
</div>
{% endif %}
{% endwith %}

          <form action="{{ url_for('cadastrar') }}" method="POST">

                <h3>Dados da conta</h3>

                <div class="campos">
                    <div>
                        <label for="nome">Nome completo</label>
                        <input type="text" id="nome" name="nome" placeholder="Digite seu nome">
                    </div>

                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" placeholder="seu@email.com" required>
                    </div>
                </div>

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>

                <label for="mao_de_obra">Mão de Obra</label>
                <input type="text" id="mao_obra" name="mao_obra" placeholder="Ex: R$20.00" class="mao" required>

                <button type="submit">Criar minha conta</button>

            </form>

            <p class="login">Já possui uma conta?</p>

            <a href="{{ url_for('login_usu')}}">
                <button type="submit" class="btn">Entrar</button>
            </a>

        </section>

    </main>


    <footer>
        <div class="logo-footer">
            <img src="assets/img/chapeu.png" alt="Logo">
            <div>
                <h2>Preço<span>Certo</span></h2>
                <p>PRECIFICAÇÃO AFETIVA</p>
            </div>
            <span class="frase">Precificação afetiva para negócios reais.</span>
        </div>

        <span>© 2026 PreçoCerto</span>
    </footer>

</body>
</html>