<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

          {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
{% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
</div>
{% endif %}
{% endwith %}

    <h3>Olá {{ session['usuario_nome'] }}</h3>
<a href="{{ url_for('logout')}}">
    <button type="submit" class="btn">Sair</button>
</a>

<a href="{{ url_for('perfil')}}">
    <button type="submit" class="btn">Configurações</button>
</a>

</body>
</html>