<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - PreçoCerto</title>
    <link rel="stylesheet" href="assets/css/perfi.css">
</head>

<body>

    <header>
        <div class="logo-header">
            <img src="assets/img/icone_logo.png" alt="Logo">
            <div>
                <h1>Preço<span>Certo</span></h1>
                <p>PRECIFICAÇÃO AFETIVA</p>
            </div>
        </div>

        <a href="#home" class="voltar">Voltar</a>
    </header>


    <main>

        <div class="barra-botoes">

            <a href="#"><img src="assets/img/icone_casa.png" alt="Início"> Início</a>
            <a href="#"><img src="assets/img/icone_caixa.png" alt="Insumos"> Insumos</a>
            <a href="#"><img src="assets/img/icone_tocapng.png" alt="Produto"> Produto</a>
            <a href="#"><img src="assets/img/icone_engrenagem.png" alt="Configurações"> Configurações</a>

            <div class="frase-lateral">
                <img src="assets/img/folhinhapng.png" alt="Folhinha" class="folhinha">
                <p>Boas escolhas hoje,melhores resultados amanhã!</p>
            </div>

            <img src="assets/img/toca.png" alt="Toca" class="toca">

        </div>

        <section>

            <h2>Meu Perfil</h2>
            <p class="subtitulo">Confira e Gerencie suas informações</p>

              {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
{% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
</div>
{% endif %}
{% endwith %}

         {% if usuario%}
            <form action="">
                <div class="topo">
                    <img src="assets/img/icone_perfil.png" alt="Foto de perfil" class="avatar">
                    <div class="campos">


                        <label for="nome">Nome completo</label>
                        <p>{{ nome }}</p>

                        <label for="email">E-mail</label>
                        <p>{{ email }}</p>

                        <label for="senha">Senha</label>
                        <p>{{ senha }}</p>

                        <label for="mao_obra">Mão de Obra</label>
                        <p>{{ mao_obra }}</p>
                    </div>
                </div>

            </form>
         {% endif%}
            <a href="{{ url_for('editar_perfil', id=usuario[0])}}">
                    <button type="submit" class="btn">Editar Perfil</button>
            </a>

            <a href="{{ url_for('logout')}}">
                <button type="submit" class="btn">Sair</button>
            </a>
        </section>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="assets/img/chapeu.png" alt="Logo">
            <div>
                <h2>Preço<span>Certo</span></h2>
                <p>PRECIFICAÇÃO AFETIVA</p>
            </div>
            <span class="frase">Precificação afetiva para negócios reais.</span>
        </div>

        <span>© 2026 PreçoCerto</span>
    </footer>

</body>
</html>